body{
    background-color: #14C38E;
}

.main{
    border-radius: 25px;
    margin: auto;
    min-width: 350px;
    max-width: 510px;
    height: 600px;
    background-color: #B8F1B0;
    margin-top: 25px;
    padding-top: 16px;
    text-align: center;
    
}

.content{
    padding-top: 80px;
}

.gap{
    height: 20px;
}

input{
    height: 25px;
}

.button{
    width: 100px;
    height: 30px;
}

